<div class="container">
  <h1> add question </h1>
    <%= form_for @question, url: {action: :create} do |f| %>
      <div class="form-group">
        <%=f.label :title%>
        <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
      </div>
      <div class="form-group">
        <%=f.label :content%>
        <%= f.text_area  :content, class: "form-control", placeholder: "Question", rows: "15"  %></div>
      <div class="form-group">
        <%= f.submit nil, class: "btn btn-default" %>
      </div>
    <%end%>
</div>

<div class="container">
  <div class="preview">
  </div>
</div>
