<div class="container">
  <div class="row">
    <div class="col-md-1">
      <i class="fa fa-arrow-up fa-lg"></i>
      <div><h4><%=@question.votes.count%></h4></div>
      <i class="fa fa-arrow-down fa-lg"></i>
    </div>
    <div class="col-md-11">
      <h2><%= @question.title %></h2>
      <div class="question_content">
          <p> <%= @question.content %> </p>
      </div>
      <div class="question_answers">
          <%= render @answers %>

      </div>

      <div class="answer_form">
        <%= render "answer_form" %>
      </div>
  </div>



</div>
