<!DOCTYPE html>
<html>
<head>
  <title>SquirrelOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="nav">
    <div id="brand">
      <a href="/">Squirrel Overflow</a>
    </div>
    <ul id="userlogin">
      <% if current_user %>
        <li id="signout"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li id="signin"><%= link_to('Sign In', new_user_session_path) %></li>
        <li id="signup"><%= link_to('Register', new_user_registration_path)  %></li>
      <% end %>
    </ul>
  </div>

<%= yield %>

</body>
</html>
